<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta modi officia dolor cupiditate dolorem illo recusandae atque nihil eaque autem, deleniti alias totam in corrupti architecto sapiente accusantium nobis ipsam.</p>

<%- include("footer") -%>
